.footer__menu{
    margin: 0px 0px 0px 0px;
    padding: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 14px;
  }
  
  .footer__menu p{
    margin-right: 820px;
  }
  
  .footer__icon{
    width: 25px;
    height: 25px;
    justify-content: center;
    margin-right: 10px;
    margin-top: 10px;
  }
  
  footer{
  	margin-top: 100%;
  width: 100%;
  bottom: 0;
    justify-content: space-between;
    background-color:#202020;
    height: auto;
    display: flex;
    /*position: absolute;*/

  

  }